<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/styles/navigation.css" />

    <title>simple blog</title>
  </head>
  <body>
    <nav>
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/auth/register">Register</a>
        </li>
        <li>
          <a href="/auth/login">Login</a>
        </li>
      </ul>
    </nav>
    <% if(error){ %>
    <p style="color: tomato"><%= error %></p>
    <%} %> <% if(success){ %>
    <p style="color: green"><%= success %></p>
    <%} %>
  </body>
</html>
